# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
.env
.env.*
*.sqlite
*.db

# OS
.DS_Store

# Logs
logs/
*.log
logfile

# Build
dist/
build/
.eggs/
*.egg-info/

# PostgreSQL data directory
pgdata/